<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="~{fragments/header :: header}"></div>
</head>


<body>
<!--<div th:replace="~{fragments/navigation :: navigation}">-->

<div class="card  w-25 text-center mx-auto mt-4 ">

    <div class="card-header">
        <h1>WELCOME TO REMSWD</h1>
    </div>
    <div class="card-body text-center">


        <a class="btn btn-primary" href="/simulatedUser">Usurper l'identité de Rems</a>
        <a class="btn btn-primary disabled" href="/#">sign</a>

    </div>

</div>


</body>
</html>